@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(2,0,36);
    background: linear-gradient(133deg, rgba(2,0,36,1) 0%, rgba(61,61,120,1) 54%, rgba(89,143,154,1) 100%);
}

.title{
    position: absolute;
    top: 8%;
    font-size: 25px;
    color: #FFF;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.formulario{
    width: 600px;
    height: 900px;
    background: rgba(19, 19, 20, 0.329);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.4px);
    -webkit-backdrop-filter: blur(4.4px);
}

label{
    font-size: 20px;
}

.campo{
    position: relative;
    margin-left: 0px;
    margin-right: 30px;
    margin-top: 20px;
    padding-left: 40px;
    top: 18%;
    color: #FFF;
   
}

input{
    color: #FFF;
    background: none;
    padding: 15px;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    width: 100%;
    letter-spacing: 2px;
}


#submit{
    position: relative;
    top: 24%;
    left: 24%;
    background: rgba(19, 19, 20, 0.329);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.4px);
    -webkit-backdrop-filter: blur(4.4px);
    width: 50%;
    cursor: pointer;
}